* {
    margin: 0;
    padding: 0;
}


/* ------------------------------sebas- nav---------------- */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

nav {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;

}

 nav .logo {
    float: left;
    /* width: 50%;
    height: 50%; */
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

} */

#logo {

    float: left;
    width: 50%;
    height: 50%;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    padding-left: 23px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    /* animacion------------------------------------------ */
    animation-name: cambiarFondo;
    /*cambiar a cambiarColor2 / cambiarColor3*/
    animation-duration: 2.5s;
    animation-timing-function: linear;
    /*cambiar a linear*/
    animation-iteration-count: infinite;
}

@keyframes cambiarFondo {
    0% {
        background: #242526;
        border-radius: 0px;
    }

    /* Primer fotograma */
    50% {
        background: #363738;
        border-radius: 20px;
    }

    /* Segundo fotograma */
    100% {
        background: gray;
        border-radius: 40px;
    }

    /* Último fotograma */
}

nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav .list a:hover {
    border-bottom: 4px solid violet;
}

#toggle {
    position: absolute;
    top: -100px;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/* --------------------------fin nav------------------------ */

body {
    background-color: black;
    font-family: 'Montserrat';
    font-size: 1em;
}



.menu li {
    color: white;
    font-weight: bold;

}

.menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;


}

.menu ul {
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    align-items: center;
    list-style: none;
    font-size: 1.2em;

    /* text-align: right; */
}

/* #logo {
    padding: 4px ;
    width: 4em;
} */



.menu a:hover {

    background-color: #FDD306;
    color: black;
    border-radius: 3px;

}


.slider-container {
    display: flex;
    margin-top: 100px;
    width: 100%;
    /* height: 72vh; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-content: space-around;
}

.slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
}



.cartelera {
.cartelera {
    padding-top: 1%;
    display: grid;
    /* background-color: white; */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    align-items: center;


}

.cartelera .activo {
    color: red;
    background-color: #FDD306;
    border-radius: 3px;

}

.cartelera .dia {
    /* background-color: red; */
    border-color: #FDD306;
    border-width: thin;
    border-style: solid;
    border-radius: 5%;
    text-align: center;

    font-weight: bold;
    padding: 3%;
    color: white;

}

.cartelera .nroDia {
    font-size: 2em;
}

.cartelera .nombreMes {
    font-size: 1.2em;
}

.cartelera .dia:hover {

    background-color: #FDD306;
    color: black;
    border-radius: 3px;

}

/* ----------------------------footer------------------ */
.pie {
    display: flex;
    /* border: 3px solid blue ; */
    justify-content: space-between;
    padding: 10px;
}

.pie {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.direccion a {
    color: red;
}

.subtitulo {
    color: rgb(209, 207, 57);
    text-align: left;
}
/* ------------------------------- media queries barra nav------------------------*/
@media(max-width:768px){

    #logo{
        margin-left: 50%;
    }
            
        
        nav .list{
            float: none;
            position: fixed;
            z-index: 9;
            left: 0;
            right: 0;
            top: 100px;
            bottom: 100%;
            width: auto;
            height: auto;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: black;
            overflow: hidden;
            transition: all .3s ease-in-out;
        }
        nav .list a{
            font-size: 20px;
        }
        nav :checked ~ .list{
            bottom: 0;
        }
        nav .icon-bars{
            display: block;
        }
    }