* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1em;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
    overflow: auto;
}

/* ------------------------------nav---------------- */
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    background-color: #242526;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;
}

nav img {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 17%;
    display: flex;
    align-items: center;
    font-size: 24px;
    /* animacion------------------------------------------ */
    animation-name: cambiarFondo;
    animation-duration: 4s;
    animation-timing-function: linear;
    /*cambiar a linear*/
    animation-iteration-count: infinite;
}

nav .list {
    padding-right: 10%;
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav .list a:hover {
    border-bottom: 4px solid #FDD306;
}

#toggle {
    position: absolute;
    top: -100px;
}

.list .actual {
    color: #FDD306;
    border-bottom: 4px solid #FDD306;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@keyframes cambiarFondo {
    0% {
        background: #242526;
        border-radius: 0px;
    }

    /* Primer fotograma */
    50% {
        background: #363738;
        border-radius: 20px;
    }

    /* Segundo fotograma */
    100% {
        background: rgb(73, 72, 72);
        border-radius: 40px;
    }

    /* Último fotograma */
}

/* --------------------------fin nav------------------------ */
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
   
}
table {
    max-width: 100%;
    margin-top: 33%;
    margin-bottom:21% ;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 15px;
    /* margin-bottom: 50px;
    margin-top: 50px; */
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 15px;
}


input[type="submit"] {
    padding: 10px;
    background-color: #FDD306;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FDD306;
}
.venta{
    margin-top: 50px;
    margin-bottom: 30px;
}
.custom-alert {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
}

button {
    padding: 8px;
    margin: 4px;
    background-color: #FDD306;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #37fd06;
}

.etiqueta {
    
    padding: 8px;
    margin: 15px;
    background-color: #FDD306;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

.etiqueta:hover {
    background-color: #FDD306;
}

.formu {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 15px;
    margin-bottom: 20px;
}
/* ----------------------------footer------------------ */

.pie {
    /* position: fixed; */
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* border: 3px solid blue ; */
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 10px;
    /* padding: 10px; */
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 100;
}

.direccion a {
    color: #FDD306;
    text-decoration: none;
}

.direccion {
    text-align: left;
}

.redes {
    text-align: right;
}

/* ------------------------------- media queries ------------------------*/

@media(max-width:600px) {

    #logo {
        width: 50%;
        margin-left: 50%;
    }

    nav {
        position: fixed;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: black;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }

    nav .list a {
        font-size: 1em;
    }

    nav :checked~.list {
        bottom: 0;
    }

    nav .icon-bars {
        display: block;
    }

    .slider-container {
        display: flex;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border-radius: 5px;
        align-content: space-around;
    }

    .proximamente {
        display: grid;
        grid-template-columns: repeat(2, auto);
        row-gap: 5px;
        text-align: center;
    }

    .pie {
        display: grid;
        justify-content: space-around;
        grid-template: auto auto / auto auto;
        grid-template-areas: "direccion grupo" "redes redes";
        row-gap: 5px;
        text-align: center;
        font-size: 0.8em;
    }

    .grupo {
        grid-area: grupo;
    }

    .direccion {
        grid-area: direccion;
        text-align: center;

    }

    .redes {
        grid-area: redes;
        text-align: center;
    }

    .peliculasDia {
        padding: 0% 1% 1% 1%;
        background-color: white;
        display: grid;
        grid-template-columns: auto;
        row-gap: 5px;
        border-radius: 5px;
        font-size: 0.75em;
    }

    .cartelera {
        padding: 1%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 5px;
        column-gap: auto;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        font-size: 0.75em;

    }

    .seccion {
        padding-top: 1%;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {

    #logo {
        width: 50%;
    }

    .slider-container {
        display: flex;
        margin-top: 50px;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border-radius: 5px;
        align-content: space-around;
    }

    .peliculasDia {
        padding: 0% 1% 1% 1%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5px;
        border-radius: 5px;
        font-size: 0.75em;
    }

    .proximamente {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5px;
    }

    .pie {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        /* row-gap: 10px; */
        font-size: 0.9em;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 900px) {

    #logo {
        width: 20%;
    }

    .proximamente {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1%;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {

    .proximamente {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 2%;
        text-align: center;
    }
}