*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    border: 10px solid black;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;
    font-family: 'Asap', sans-serif;
    color: white;
}
.presentacion{
    padding: 1rem;
    text-align: justify;
}
.personal{
    
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
.usuario h3{
    
    justify-content: center;
    color: lightblue;
}

.usuario{
    
    margin: 30px;
    color: #FFD200;
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    
}

div img{
    border-radius: 25px;
}
.descripcion{
    border: 5px solid green;  
}