*{
    margin: 0;
    padding: 0;
}
/* ------------------------------sebas- nav---------------- */
*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
nav{

    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;

}
nav .logo{
    float: left;
    /* width: 50%;
    height: 50%; */
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}
nav img{
    
    float: left;
    width: 50%;
    height: 50%;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    /* border-radius: 25px; */
   
    /* border: 2px solid white; */
    /* animacion------------------------------------------ */
    animation-name: cambiarFondo; /*cambiar a cambiarColor2 / cambiarColor3*/
    animation-duration: 2.5s;
    animation-timing-function: linear; /*cambiar a linear*/
    animation-iteration-count: infinite;
}
@keyframes cambiarFondo {
    0% {background: #242526; border-radius: 0px;}         /* Primer fotograma */
    50% {background: #363738; border-radius: 20px; }     /* Segundo fotograma */
    100% {background:gray; border-radius: 40px;}     /* Último fotograma */    
}
nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
nav .list li {
    list-style: none;
}
nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav .list a:hover {
    border-bottom: 4px solid violet;
}
#toggle{
    position: absolute;
    top: -100px;
}
nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-bars .line{
width: 30px;
height: 5px;
background-color: white;
margin: 5px;
border-radius: 3px;
transition: all .3s ease-in-out;
}

/* --------------------------fin nav------------------------ */
body{
    background-color: black;
}
h2{ color: white;}
.container{
    border: 10px solid black;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;
    font-family: 'Asap', sans-serif;
    color: white;
    margin-top: 100px;
}
.presentacion{
    padding: 1rem;
    text-align: justify;
}
.personal{
    
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
.usuario h3{
    
    justify-content: center;
    color: lightblue;
}

.usuario{
    
    margin: 30px;
    color: #FFD200;
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    
}

div img{
    border-radius: 25px;
}
.descripcion{
    border: 5px solid green;  
}
.btn-volver{
    text-align: center;
    background-color: rgb(137, 219, 247);
    height: 30px;
    width: 10%;
    font-family:'Asap', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 18px;
    border: 2px solid #20bf6b;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;

}
.btn-volver:hover {
    color: #20bf6b !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
    transform: translateY(-6px);
}
.ubucacion{
    color: white;
    margin-top: 50px;
}

iframe{
    width: 100%;
    height: 50%;

}
/* ----------------------------footer------------------ */
.pie{
    display: flex;
    /* border: 3px solid blue ; */
    justify-content: space-between;
    padding: 7px;
}
.pie  {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
.direccion a {
    color: red;
}
.subtitulo{
    color: rgb(209, 207, 57);
    text-align: left;
}