*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    border: 10px solid black;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;
    font-family: 'Asap', sans-serif;
    color: white;
}
.presentacion{
    padding: 1rem;
    text-align: justify;
}
.personal{
    
    display: flex;
    align-content: center;
    justify-content: space-around;
    
}
.usuario h3{
    
    justify-content: center;
    color: lightblue;
}

.usuario{
    
    margin: 30px;
    color: #FFD200;
    background-color: black;
    text-align: center;
    font-family: 'Asap', sans-serif;
    
}

div img{
    border-radius: 25px;
}
.descripcion{
    border: 5px solid green;  
}
.btn-volver{
    text-align: center;
    background-color: rgb(137, 219, 247);
    height: 30px;
    width: 10%;
    font-family:'Asap', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 18px;
    border: 2px solid #20bf6b;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
    transition: all 0.3s ease 0s;

}
.btn-volver:hover {
    color: #20bf6b !important;
    background-color: transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 15px 18px rgba(32, 191, 107, 0.4);
    transform: translateY(-6px);
}