* {
	margin: 0;
	padding: 0;
}
/* ------------------------------sebas- nav---------------- */

nav{

    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: center;

}
nav .logo{
    float: left;
    /* width: 50%;
    height: 50%; */
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    
}
nav img{
    
    float: left;
    width: 50%;
    height: 50%;
    padding-left: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    /* border-radius: 25px; */
   
    /* border: 2px solid white; */
    /* animacion------------------------------------------ */
    animation-name: cambiarFondo; /*cambiar a cambiarColor2 / cambiarColor3*/
    animation-duration: 2.5s;
    animation-timing-function: linear; /*cambiar a linear*/
    animation-iteration-count: infinite;
}
@keyframes cambiarFondo {
    0% {background: #242526; border-radius: 0px;}         /* Primer fotograma */
    50% {background: #363738; border-radius: 20px; }     /* Segundo fotograma */
    100% {background:gray; border-radius: 40px;}     /* Último fotograma */    
}
nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
nav .list li {
    list-style: none;
}
nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav .list a:hover {
    border-bottom: 4px solid violet;
}
#toggle{
    position: absolute;
    top: -100px;
}
nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-bars .line{
width: 30px;
height: 5px;
background-color: white;
margin: 5px;
border-radius: 3px;
transition: all .3s ease-in-out;
}

/* --------------------------fin nav------------------------ */


body {
	background-color: #080000;
	font-family: 'Asap', sans-serif;
	
}


/* 
nav .list a {
	display: block;
	text-transform: uppercase;
	padding: 15px;
	font-size: 19px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}
 */


h3 {
	font-family: 'Asap', sans-serif;
	color: #FDD306;
	text-align: center;
	margin-top: 110px;
    font-size: calc(1em + 2vw);
	
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 90px; */
	
	/* height: 100vh;*/
}

form {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 25px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	max-width: 500px;
	width: 100%;
margin-bottom: 15px;
	opacity: 0;
	animation: fade-in 1s ease-in-out forwards;

}

@keyframes fade-in {

	/*agregado de animacion movimiento del registro*/
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.form-group {
	margin-bottom: 20px;
	border-radius: 30px;
}

.animacionBorde-form {
	/*Animaciones insertadas en los bordes*/

	border: 4px solid #0c0a00;
	transition: border-color 0.3s ease-in-out;

}

.animacionBorde-form:hover {
	/*Animaciones insertadas en los bordes*/
	border-color: #FDD306;
}

label {
	/* display: block;*/
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.button-group {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;


}

input[type="submit"],
input[type="reset"] {
	display: inline-block;
	justify-content: space-around;
	width: 120px;
	text-align: center;
	margin-top: 20px;
	margin-right: 20%;
	color: #0e0d0d;
	padding: 8px 20px;
	background-color: #FDD306;
	border-radius: 35px;
	border: 2px solid #FDD306;
	box-shadow: 0px 5px 18px rgba(0, 0, 0, .2);
	transition: all 0.3s ease 0s;
}

.BotonEnviar:hover,
/*Animaciones insertadas en el boton*/
.BotonBorrar:hover {
	color: #FDD306 !important;
	background-color: transparent;
	border-radius: 6px;
	transition: all 0.3s ease 0s;
	box-shadow: 0px 15px 18px rgba(0, 0, 0, .2);
	transform: translateY(-6px);
}
/* ----------------------------footer------------------ */
.pie{
    display: flex;
    /* border: 3px solid blue ; */
    justify-content: space-between;
    padding: 7px;
    background-color: #242526;
}
.pie  {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 1vw;
}
.direccion a {
    color: red;
}
.subtitulo{
    color: rgb(209, 207, 57);
    text-align: left;
}

